@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto";
  background-color: #2d2e2f;
  color: grey;
}

#a3 {
  color: grey;
}

#content {
  display: flex;
  justify-content: center;
}

#boards {
  margin-top: 15vh;
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.player {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.player div {
  outline: solid 1px;
  display: flex;
  justify-content: center;
  padding: 1.5vh 1.5vw;
  background-color: darkblue;
  cursor: pointer;
}

#player1 div:hover,
#player2 div:hover {
  transform: scale(1.2);
  background-color: violet;
}

.hidden {
  display: none;
}
