@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto";
  background-color: #2d2e2f;
  color: grey;
  /* outline: 2px solid red; */
}

#a3 {
  /* color: grey; */
}

#content {
  display: flex;
  justify-content: center;
}

.zone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 4vh 1vw;
  font-size: 4rem;
}

#boards {
  margin-top: 5vh;
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.player {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.player div {
  outline: solid grey 1px;
  display: flex;
  justify-content: center;
  padding: 1.5vh 1.2vw;
  background-color: darkblue;
  color: darkblue;
  cursor: pointer;
  user-select: none;
}

#player2 div {
  cursor: pointer;
}

#player2 div:hover {
  transform: scale(1.2);
  background-color: violet;
  color: violet;
}

.hidden {
  display: none;
}
